#include <physical_layouts.dtsi>

/ {
    mityaliu_tomahawk44_layout: mityaliu_tomahawk44_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   62       0     0     0>
            , <&key_physical_attrs 100 100  100   62       0     0     0>
            , <&key_physical_attrs 100 100  200   21       0     0     0>
            , <&key_physical_attrs 100 100  301    0       0     0     0>
            , <&key_physical_attrs 100 100  401   37       0     0     0>
            , <&key_physical_attrs 100 100  501   58       0     0     0>
            , <&key_physical_attrs 100 100  836   58       0     0     0>
            , <&key_physical_attrs 100 100  937   37       0     0     0>
            , <&key_physical_attrs 100 100 1037    0       0     0     0>
            , <&key_physical_attrs 100 100 1137   21       0     0     0>
            , <&key_physical_attrs 100 100 1238   62       0     0     0>
            , <&key_physical_attrs 100 100 1338   62       0     0     0>
            , <&key_physical_attrs 100 100    0  162       0     0     0>
            , <&key_physical_attrs 100 100  100  162       0     0     0>
            , <&key_physical_attrs 100 100  200  122       0     0     0>
            , <&key_physical_attrs 100 100  301  100       0     0     0>
            , <&key_physical_attrs 100 100  401  137       0     0     0>
            , <&key_physical_attrs 100 100  501  158       0     0     0>
            , <&key_physical_attrs 100 100  836  158       0     0     0>
            , <&key_physical_attrs 100 100  937  137       0     0     0>
            , <&key_physical_attrs 100 100 1037  100       0     0     0>
            , <&key_physical_attrs 100 100 1137  122       0     0     0>
            , <&key_physical_attrs 100 100 1238  162       0     0     0>
            , <&key_physical_attrs 100 100 1338  162       0     0     0>
            , <&key_physical_attrs 100 100    0  262       0     0     0>
            , <&key_physical_attrs 100 100  100  262       0     0     0>
            , <&key_physical_attrs 100 100  200  222       0     0     0>
            , <&key_physical_attrs 100 100  301  201       0     0     0>
            , <&key_physical_attrs 100 100  401  238       0     0     0>
            , <&key_physical_attrs 100 100  501  259       0     0     0>
            , <&key_physical_attrs 100 100  836  259       0     0     0>
            , <&key_physical_attrs 100 100  937  238       0     0     0>
            , <&key_physical_attrs 100 100 1037  201       0     0     0>
            , <&key_physical_attrs 100 100 1137  222       0     0     0>
            , <&key_physical_attrs 100 100 1238  262       0     0     0>
            , <&key_physical_attrs 100 100 1338  262       0     0     0>
            , <&key_physical_attrs 100 100  301  301       0     0     0>
            , <&key_physical_attrs 100 100  401  338       0     0     0>
            , <&key_physical_attrs 100 100  507  387    3000   557   537>
            , <&key_physical_attrs 100 150  593  437    3000   643   587>
            , <&key_physical_attrs 100 150  744  437 (-3000)   794   587>
            , <&key_physical_attrs 100 100  831  387 (-3000)   881   537>
            , <&key_physical_attrs 100 100  937  338       0     0     0>
            , <&key_physical_attrs 100 100 1037  301       0     0     0>
            ;
    };
};
